.background {
  background-color: #f1f1f1;
}

.map-container {
  height: 500px; /* Set a fixed height for the Map */
  width: 100%; /* Set 100% width */
}

.map {
  height: 100%; /* Occupy the full height of the container */
}

.ride-selector-container {
  padding: 20px; /* Add padding to create separation from the Map */
}

@media (max-width: 768px) {
  .map-container {
    height: 300px; /* Adjust the height for smaller screens */
  }
}
